.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-bottom: 30px;

    &>h1 {
        font-weight: 600;
        font-size: 20px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;

    @media (max-width: 870px) {
        grid-template-columns: 1fr;
    }
}

