.productssection {
    margin-top: 110px;
}

.title {
    font-size: 45px;
    font-weight: 400;
    width: 90%;
}

.subTitle {
    font-size: 24px;
    font-weight: 400;
    margin-top: 16px;
    width: 90%;
}