.cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.cartContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 40px;
    border: 1px solid #CACACA;
}

.cartColumnsHeader {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 1fr;
    gap: 20px;
}

.cartItem {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border: 1px solid #CACACA;
    border-radius: 20px;
}

.cartItemImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.quantityWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cartItemQuantityButton {
    background-color: transparent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid #CACACA;
    cursor: pointer;
}

.cartSummary {
    padding: 30px;
    border: 1px solid #CACACA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 14px;
}

.cartHeader { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.cartSummaryItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.sbpImage {
    padding: 15px 20px;
    border: 1px solid #CACACA;
    border-radius: 10px;
}