.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    position: relative;
}

.figure {
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    max-width: 100%;
    height: 100%;
}

.title {
    font-size: 52px;
    font-weight: 500;

    & .primary {
        color: var(--primary);
    }
}

.subTitle {
    margin-top: 50px;
    color: #797979;
    font-size: 18px;
    font-weight: 400;
}

.buttonLinks {
    margin-top: 70px;
    display: flex;
    gap: 18px;
    align-items: center;
}

.buttonLink {
    padding: 24px 30px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;

    &.gray {
        color: black;
        background-color: #E0E0E0;
    }

    &.black {
        color: white;
        background-color: #161213;
    }
}

.card {
    background-color: #161213;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    padding: 32px;
    margin-top: 100px;
}

.desc {
    font-size: 16px;
    color: #797979;
    font-weight: 400;
}

.portfolio {
    font-size: 26px;
    display: flex;
    color: white;
    text-wrap: nowrap;
    align-items: center;
    gap: 10px;
    width: min-content;

    & .portfolioArrow {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #FC9E70;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 14px;
            height: 14px;
        }
    }
}

.cardContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}