.asidenavigationlayout {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 20px;
    height: 80%;

    @media screen and (max-width: 870px) {
        grid-template-columns: 1fr;
        height: auto;
    }
}

.aside {
    border-radius: 15px;
    background-color: #161213;
    display: flex;
    flex-direction: column;
    padding: 23px 34px;
    gap: 37px;

    &>h4 {
        font-size: 20px;
        color: white;
        font-weight: 600;
    }

    &>nav {
        display: flex;
        flex-direction: column;
        gap: 27px;
    }

    @media screen and (max-width: 870px) {
        background-color: transparent;
        padding: 0px;

        &>h4 {
            display: none;
        }

        &>nav {
            width: 100%;
            flex-direction: row;
            overflow-x: scroll;
            gap: 20px;
            padding: 20px 0px;

            & .icon {
                display: none;
            }

            & .navLink {
                background-color: #161213;
                padding: 10px 20px;
                border-radius: 15px;
            }


        }
    }
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    gap: 13px;
    font-size: 16px;
    font-weight: 400;

    &.active {
        color: var(--primary);
    }

    &.active img {
        filter: invert(40%) sepia(31%) saturate(843%) hue-rotate(328deg) brightness(101%) contrast(98%);
    }
}

.main {
    background-color: #161213;
    border-radius: 15px;
    padding: 33px 100px;

    @media screen and (max-width: 870px) {
        padding: 20px;
    }
}